.container1{
    display: flex;
    text-align: center;
    margin-top: 20px;
}
.html,
.css,
.react,
.java{
    margin-left: 10px;
    padding: 10px;
    border: 1px solid brown;
    border-radius: 10px;
}
.html img,
.css img,
.java img,
.react img{
    border-radius: 20px;
}
.container1 hr{
    width: 100px;
    background-color: aqua;
}
